<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="js/plugins/d3/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/demo.css"/>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="输入您要查找的实体名">
        <button id="search" class="btn btn-outline-success my-2 my-sm-0">查找</button>
    </form>
</nav>
<div id="result"></div>
<style>
    #result{
        background: #bee5eb;
    }
</style>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>